.PatientSideBar-container{
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    width: 300px;
    background-color: #00788d36;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
}
.patient-personal{
    text-align: center;
    padding-top: 30px;
    border-bottom: #0000006b solid 3px;
    padding-bottom: 30px;
    cursor: pointer;
}
.patient-personal:last-child {
    border-bottom: none;
  }
