.PatientSideBar-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #00788d36;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
}
.patient-personal{
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: #0000006b solid 3px;
    padding-bottom: 20px;
    cursor: pointer;
    width: 70%;
}
