.personal-details-container {
    margin-top: 60px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.personal-details-head{
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0px 0 20px 0;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.medical-history {
    margin-top: 10px;
}

.medical-history-item {
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 20px;
}
.medical-history-item label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.medical-history-item input{
    padding-top: 100px;
    width: 20px;
    margin: 0px 20px;
}
.personal-details-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.personal-details-container button:hover {
    background-color: #45a049;
}
.photo-preview{
    width: 50px;
}
